<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HTCANXE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <userSettings>
    <HTCANXE.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DataMode" serializeAs="String">
        <value>Text</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="SetPrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Modem" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="MaVach" serializeAs="String">
        <value>B</value>
      </setting>
      <setting name="LoaiCan" serializeAs="String">
        <value>XUATVT</value>
      </setting>
      <setting name="Client" serializeAs="String">
        <value>Online</value>
      </setting>
      <setting name="UpdateData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PaperSize" serializeAs="String">
        <value>A4</value>
      </setting>
      <setting name="paperCopies" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="TramCan" serializeAs="String">
        <value>TR1</value>
      </setting>
    </HTCANXE.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HTCANXE.Properties.Settings.db_HTCANXEConnectionString1" connectionString="Data Source=113.161.208.240,7878;Initial Catalog=db_HTCANXE;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="HTCANXE.Properties.Settings.db_HTCANXEConnectionString" connectionString="Data Source=113.161.208.240,7878;Initial Catalog=db_HTCANXE;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
